<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<%= check_box(@task.title, @label, :checked => @task.completed) %>
<%= label_tag(@task.title, @label) %>

<%= link_to "Back to list", index_path %>
